<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Photo Sort</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="styles/layout.css" type="text/css">
<script src="scripts/jquery-1.8.2.min.js"></script>
<script src="scripts/jquery-defaultvalue.js"></script>
<script src="scripts/jquery-browsercheck.js"></script>
<!--[if lt IE 9]>
<link rel="stylesheet" href="styles/ie.css" type="text/css">
<script src="scripts/ie/html5shiv.min.js"></script>
<![endif]-->
<!-- homepage slider scripts -->
<link rel="stylesheet" href="styles/supersized/supersized.css" type="text/css">
<link rel="stylesheet" href="styles/supersized/supersized.shutter.css" type="text/css">
<script src="scripts/supersized/supersized.3.2.7.js"></script>
<script src="scripts/supersized/supersized.shutter.min.js"></script>
<script src="scripts/supersized/supersized.setup.js"></script>
<!-- / homepage slider scripts -->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <hgroup>
      <h1><a href="#">P<span>hoto</span> S<span>ort</span></a></h1>
    </hgroup>

  </header>
</div>

<!-- content -->
<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="homepage">
      
	  <h2>Choose an Album</h2>
	  
      <section id="portfolio" class="clear">
        <ul>
          <li>
            <article><a href="#">
              <figure><img src="images/demo/235x235.gif" alt="">
                
              </figure>
              </a></article>
          </li>
		  
		  <li>
            <article><a href="#">
              <figure><img src="images/demo/235x235.gif" alt="">
                
              </figure>
              </a></article>
          </li>
		  
		  <li>
            <article><a href="#">
              <figure><img src="images/demo/235x235.gif" alt="">
                
              </figure>
              </a></article>
          </li>
		  
		  <li>
            <article><a href="#">
              <figure><img src="images/demo/235x235.gif" alt="">
                
              </figure>
              </a></article>
          </li>
		  
		  <li>
            <article><a href="#">
              <figure><img src="images/demo/235x235.gif" alt="">
                
              </figure>
              </a></article>
          </li>
		  
		  <li>
            <article><a href="#">
              <figure><img src="images/demo/235x235.gif" alt="">
                
              </figure>
              </a></article>
          </li>
		  
		  <li>
            <article><a href="#">
              <figure><img src="images/demo/235x235.gif" alt="">
                
              </figure>
              </a></article>
          </li>
          
        </ul>
      </section>
      <!-- / Latest Work -->
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->	
<!-- Copyright -->
<div class="wrapper">
  <footer id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
<script>
$(document).ready(function () {
    $("#cf_name, #cf_email, #cf_message").defaultvalue("Name", "Email", "Message");
});
</script>
</body>
</html>